{% extends "base.html" %}

 
{% block content %}
<br>
<h2>{{book.title}}</h2>
<div class= "mt-3">
  <table id="single_book_table" class="render-datatable table table-sm" 
         data-searching="false"
         data-paging="false">
  <tbody>
    <tr>
      <td>ISBN</td> 
      <td>{{book.isbn}}</td> 
    </tr>
    <tr>
      <td>Publication Year</td> 
      <td>{{book.publication_year}}</td> 
    </tr>
    <tr>
      <td>Author</td> 
      <td>{{book.authors}}</td> 
    </tr>
    <tr>
      <td>Average Goodreads Rating</td> 
      <td>{{goodreads_avg_rating}}</td> 
    </tr>
    <tr>
      <td>Number of Goodreads Ratings</td> 
      <td>{{goodreads_num_ratings}}</td> 
    </tr>
    </tbody>
</table>
</div>

{% if show_form  == True %}
<br>
<h2>Review Book</h2>
<form action={{ url_for("show_book", isbn = book.isbn) }} method="post">
  <label for="rating">Book rating</label>
  <select id="rating" name="rating">
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>
  </select>
  <br>
  <textarea rows=10 cols=100 placeholder="Review text" name="review_text"></textarea>
  <br>
  <button>Submit review</button>
</form>
{% endif %}

<br>
<h2>User Reviews</h2>
{% if show_reviews  == True %}
<br>
<div class= "mt-3">
  <table id="user_review_table" class="render-datatable table table-sm" 
         data-order="[[ 4, &quot;desc&quot; ]]" 
         data-searching="false"
         data-paging="false"
         data-scroll-y="500">
  
    <thead>
      <tr>
        <th>Username</th>
        <th>Rating</th>
        <th>Review</th>
      </tr>
    </thead>
    <tbody>
      {% for user_review in reviews %}
      <tr>
          <td>{{user_review.username}}</td> 
          <td>{{user_review.numeric_rating}}</td>
          <td>{{user_review.review_text}}</td>       
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>This book has not yet been reviewed</p>
{% endif %}

{% endblock %}
